.gitHub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.github-container__text {
  font-weight: 500;
}

.github-info {
  width: 100%;
  padding: 0 6rem;
  box-sizing: border-box;
}

.github-info__title {
  margin: 2.2rem 0 3.8rem 0;
  text-align: center;
  font-size: 3rem;
}

.github-info__cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-areas:
    "basic stats location"
    "basic repos repos";
}

.github-info__card {
  background-color: rgb(0, 0, 0, 4%);
  border-radius: 0.5rem;
  padding: 1.6rem 2.8rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.github-info__card--basic {
  grid-area: basic;
}

.github-info__basic-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  color: #736eed;
  margin: 0 0 2rem 0;
}

.github-info__basic-title {
  font-size: 2.8rem;
  margin: 0;
}

.github-info__basic-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.github-info__basic-profile-image {
  width: 11.5rem;
  height: 11.5rem;
  border-radius: 50%;
}

.github-info__basic-username {
  margin: 0.6rem 0 2.5rem;
  font-size: 2.1rem;
}

.github-info__basic-biography {
  margin: 0;
  color: #7c7979;
  text-align: center;
  font-size: 1.2rem;
}

.github-info__card--social {
  grid-area: stats;
  gap: 2rem;
}

.github-info__social-icon {
  height: 3.3rem;
}

.github-info__social-list {
  display: flex;
  gap: 2rem;
}

.github-info__social-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.github-info__social-value {
  font-size: 3.1rem;
  font-weight: 600;
  margin: 0 0 0.4rem 0;
}

.github-info__social-label {
  margin: 0;
  color: #736eed;
  font-size: 1.2rem;
  font-weight: 600;
}

.github-info__card--location {
  grid-area: location;
}

.github-info__location-icon {
  height: 3.3rem;
  margin-bottom: 2.7rem;
}

.github-info__location-text {
  margin: 0;
  font-size: 2.1rem;
  font-weight: 600;
}

.github-info__card--repos {
  grid-area: repos;
}

.github-info__repos-label {
  margin: 0;
  color: #736eed;
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.github-info__repos-value {
  margin: 0;
  font-size: 4.3rem;
  font-weight: 600;
}
