.main-page__modules-cards {
  width: 100%;
}

.modules-card {
  min-width: 45%;
  display: flex;
  padding: 1.2rem;
  background-color: #fff;
  box-sizing: border-box;
  border: 0;
  box-shadow: 0.5rem 0.5rem 0 #000;
  border-radius: 1rem;
  gap: 0.8rem;
}

.modules-card__image {
  width: 4.5rem;
  max-height: 4.5rem;
  padding-top: 0.5rem;
}

.modules-card__about {
  margin: 0 auto 0 0.3rem;
}

.modules-card__title {
  margin: 0;
  font-size: 1.8rem;
}

.modules-card__list {
  padding: 0.3rem 0 0 1rem;
  margin: 0;
}

.modules-card__lesson {
  margin: 0;
  color: #736eed;
  font-size: 1.1rem;
}
.modules-card__tasks {
  margin: 0;
  color: #736eed;
  font-size: 1.1rem;
}

.modules-card__icon {
  width: 1.8rem;
  max-height: 1.8rem;
}

@media (max-width: 480px) {
  .modules-card {
    width: 100%;
    padding: 1rem;
  }

  .modules-card__image {
    width: 3rem;
    max-height: 3rem;
    padding-top: 0;
  }

  .modules-card__about {
    margin: 0;
  }

  .modules-card__title {
    font-size: 1.6rem;
  }

  .modules-card__list {
    padding: 0.4rem 0 0;
  }

  .modules-card__lesson {
    font-size: 1rem;
  }
  .modules-card__tasks {
    font-size: 1rem;
  }

  .modules-card__icon {
    width: 1.5rem;
    max-height: 1.5rem;
    margin-left: auto;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .main-page__modules-cards {
    display: flex;
    flex-direction: column;
  }
  .modules-card {
    width: 100%;
    padding: 1.1rem;
  }

  .modules-card__image {
    width: 4.2rem;
    max-height: 4.2rem;
  }
}
