.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.popup__opened {
  display: flex;
}

.popup-my-profile {
  width: 25rem;
  background-color: #fff;
  border: 2px solid #000000;
  border-radius: 1rem;
  padding: 1rem 2.8rem;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-my-profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-my-profile__title {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0 0 2.6rem 0;
  text-align: center;
}

.popup-my-profile__form-text {
  font-weight: 600;
  font-size: 0.9rem;
}

.popup-my-profile__form-input {
  width: 95%;
  min-height: 2.5rem;
  padding: 0 0 0 0.5rem;
  margin: 0.5rem 0 4rem;
  background-color: #b0b0b0;
  color: #ffffff;
  border-radius: 5px;
  border: 0;
}

.popup-my-profile__form-button {
  width: 70%;
  background-color: #000000;
  color: #ffffff;
  border-radius: 250px;
  padding: 1rem 0;
  cursor: pointer;
  border: 0;
}

.popup-my-profile__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  color: #fff;
}

.popup-my-profile__close-button:hover {
  color: #ccc;
  cursor: pointer;
}
