.popup {
  background-color: #fff;
  border-radius: 10px;
  padding: 34px 36px;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgb(214, 212, 212);
}

.popup__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: none;
  background-color: transparent;
  top: -35px;
  right: -40px;
  width: 40px;
  height: 40px;
}

.popup__close-icon {
  width: 50px;
  height: 50px;
}

.popup__close-icon:hover {
  opacity: 50%;
  cursor: pointer;
}

.popup-sobreposition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 1;
}
