.main {
  padding: 2.2rem 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  margin: 0;
  font-size: 3rem;
  color: #736eed;
}

.main__description {
  font-size: 1.3rem;
  margin: 1rem 0 3rem;
  max-width: 26.4rem;
  text-align: center;
  color: #585858;
}

.main__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #736eed;
  font-size: 1.1rem;
}

.main__form-inputs {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.main__form-label {
  margin-left: 1.3rem;
}

.main__form-field {
  min-width: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgb(88, 88, 88, 0.5);
  border-radius: 50px;
  box-sizing: border-box;
  padding: 1rem 1.8rem;
}

.main__form-field:focus-within {
  border-color: #736eed;
}

.main__form-input {
  width: 100%;
  display: flex;
  border: none;
  background-color: transparent;
  font-size: 1.3rem;
  color: #585858;
}

.main__form-input:focus {
  outline: none;
}

.main__form-input::placeholder {
  color: #949292;
}

.main__form-icon-button {
  border: none;
  background-color: transparent;
  padding: 0;
  height: 1.9rem;
}

.main__form-icon {
  max-width: 1.8rem;
  max-height: 1.8rem;
}

.main__form-icon:hover {
  cursor: pointer;
  opacity: 85%;
}

.main__form-icon:active {
  opacity: 70%;
}

.main__form-link-password {
  padding-right: 1rem;
  margin: 0;
  text-align: right;
}

.main__form-submit {
  color: #fff;
  background-color: #736eed;
  padding: 1.3rem 0;
  border: none;
  border-radius: 3.1rem;
  font-size: 1.5rem;
}

.main__form-submit:hover {
  cursor: pointer;
  opacity: 85%;
}

.main__form-submit:active {
  opacity: 70%;
}

.main__link {
  font-size: 1.1rem;
  color: #5b5959;
  margin-top: 1rem;
}

.main__link:hover {
  cursor: pointer;
  opacity: 85%;
}

.main__link:active {
  opacity: 70%;
}

.main__link-redirect {
  color: #736eed;
}

@media (max-width: 481px) {
  .main {
    padding: 1.5rem 1rem;
  }

  .main__title {
    font-size: 2rem;
    text-align: center;
  }

  .main__description {
    font-size: 1rem;
    margin: 0.75rem 0 2rem;
    max-width: 100%;
  }

  .form {
    width: 100%;
  }

  .main__form-inputs {
    gap: 1rem;
  }

  .main__form-field {
    min-width: 100%;
    width: 100%;
    padding: 0.8rem 1.2rem;
  }

  .main__form-input {
    font-size: 1rem;
  }


  .main__form-icon {
    max-width: 1.3rem;
  }

  .main__form-submit {
    width: 100%;
    font-size: 1.2rem;
    padding: 1rem 0;
  }

  .main__link {
    font-size: 0.95rem;
    text-align: center;
  }
}

@media (min-width: 481px) and (max-width: 728px) {
  .main {
    padding: 2rem 1.5rem;
  }

  .main__form-field {
    min-width: 24rem;
  }

  .main__title {
    font-size: 2.4rem;
  }
}
