.logo {
  margin: 0;
  font-size: 2.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

@media (max-width: 480px) {
  .logo {
    font-size: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 1000px) {
  .logo {
    font-size: 2rem;
  }
}
