.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter ", sans-serif;
  background-color: #f6f4f4;
  display: flex;
  min-height: 100vh;
}
