.main-page {
  padding: 2.2rem 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-page__presentation {
  min-width: 100%;
  color: #736eed;
  font-size: 2.1rem;
  margin: 0;
}

.main-page__title {
  min-width: 100%;
  margin: 0;
  padding: 0.5rem 0 2.3rem;
  font-weight: 600;
  font-size: 3.1rem;
}

.modules {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.modules__texts {
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modules__texts-title {
  opacity: 72%;
  font-size: 1.8rem;
  margin: 0;
}

.modules__texts-text {
  color: #736eed;
  font-size: 1.3rem;

  margin: 0;
}
