.my-profile {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "user user email"
    "data data sair";
  width: 95%;
  background-color: rgba(181, 181, 181, 0.2);
  margin: 1rem 0 0 0;
  padding: 2rem 4.3rem 1rem;
  box-sizing: border-box;
  align-items: center;
  column-gap: 2rem;
  row-gap: 1rem;
}

.my-profile__user-image {
  max-width: 12.6rem;
  height: 12.6rem;
  border-radius: 250px;
  grid-area: user;
}

.my-profile__user-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-profile__user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.my-profile__user-info-name {
  margin: 0;
  font-size: 3.1rem;
}

.my-profile__user-about {
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.my-profile__user {
  grid-area: user;
}

.my-profile__user-info-data {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.my-profile__user-info-image {
  width: 2.5rem;
  height: 2.5rem;
}

.my-profile__email {
  grid-area: email;
  display: flex;
  font-size: 1.3rem;
  gap: 0.4rem;
}

.my-profile__email-name {
  margin: 0;
  font-weight: 600;
}

.my-profile__email-text {
  margin: 0;
}

.my-profile-text {
  grid-area: data;
  font-size: 1.5rem;
  color: #000;
  opacity: 61%;
  margin: 0;
  text-align: center;
}

.my-profile__button {
  font-size: 1.5rem;
  border-radius: 3.1rem;
  padding: 1.2rem 2.1rem;
  border: none;
  width: 100%;
}

.my-profile__button:hover {
  cursor: pointer;
  opacity: 90%;
}

.my-profile-exit {
  color: #fff;
  background-color: #736eed;
}

.my-profile-exit_link {
  grid-area: sair;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 9.8rem;
  margin-left: auto;
}

@media (max-width: 480px) {
  .my-profile {
    grid-template-columns: 1fr;
    grid-template-areas:
      "user"
      "email"
      "data"
      "sair";
    padding: 1.5rem 1rem;
    row-gap: 1rem;
    place-items: center;
  }

  .my-profile__user-image {
    max-width: 8rem;
    height: 8rem;
    margin: 0 auto;
  }

  .my-profile__user-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
  }

  .my-profile__user-info-data {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .my-profile__user-info-name {
    font-size: 2rem;
  }

  .my-profile__user-info-image {
    max-width: 1.5rem;
    max-height: 1.5rem;
  }

  .my-profile__user-about {
    font-size: 1.1rem;
  }

  .my-profile__email {
    justify-content: center;
    font-size: 1rem;
  }

  .my-profile-text {
    font-size: 1rem;
  }

  .my-profile__button {
    font-size: 1.1rem;
    padding: 0.9rem 1.2rem;
    max-width: 50%;
  }

  .my-profile-exit_link {
    max-width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 728px) {
  .my-profile {
    padding: 1.5rem 2rem;
    grid-template-areas:
      "user user "
      "email sair"
      "data data";
  }

  .my-profile__user-image {
    max-width: 8rem;
    height: 8rem;
  }

  .my-profile__user-info-data {
    display: flex;
    gap: 0.5rem;
  }

  .my-profile__user-info-name {
    font-size: 2.4rem;
  }

  .my-profile__user-about {
    font-size: 1rem;
  }

  .my-profile__email {
    font-size: 1rem;
  }

  .my-profile-text {
    font-size: 0.9rem;
    text-align: center;
  }

  .my-profile-exit {
    padding: 0.5rem 2rem;
    margin-left: auto;
  }
}

@media (min-width: 729px) and (max-width: 1100px) {
  .my-profile {
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas:
      "user user "
      "email sair"
      "data data";
    gap: 1.8rem;
  }
}
