.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  box-sizing: border-box;
  border-bottom: 2px solid #cfcfcf;
}

.header__list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.header__list-item {
  font-size: 1.5rem;
  opacity: 36%;
}

.header__list-item:hover {
  cursor: pointer;
  opacity: 70%;
}
