.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  box-sizing: border-box;
  border-bottom: 2px solid #cfcfcf;
}

.header__list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.header__list-item {
  font-size: 1.5rem;
  opacity: 36%;
}

.header__list-item:hover {
  cursor: pointer;
  opacity: 70%;
}

.header__list-item_active {
  opacity: 100%;
}

.header-options {
  width: 2rem;
  display: none;
}

@media (max-width: 480px) {
  .header {
    padding: 1rem;
    justify-content: space-between;
  }

  .header__list {
    gap: 1.2rem;
  }

  .header__list-item {
    display: none;
  }

  .header-options {
    width: 2rem;
    display: flex;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .header {
    padding: 1.2rem 1rem;
  }

  .header__list-item {
    font-size: 1.1rem;
  }

  .header__list {
    gap: 1.8rem;
  }
}
