.footer {
  width: 100%;
  margin-top: 20rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
  padding: 20px;
}

.footer__logo {
  color: aliceblue;
  font-size: 2rem;
  margin: 0;
  letter-spacing: 0.1rem;
}

.footer__copyright {
  color: aliceblue;
  font-size: 1.3rem;
  margin: 0;
  letter-spacing: 0.1rem;
}
