.redirect-button {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  border-radius: 3.1rem;
  padding: 1.2rem 2.1rem;
  color: #736eed;
  background-color: #fff;
  border: 2px solid #736eed;
  min-width: 159px;
}
