.redirect-button {
  max-width: 12rem;
  font-size: 1.5rem;
  border-radius: 3.1rem;
  padding: 1.2rem 2.1rem;
  color: #736eed;
  background-color: transparent;
  border: 2px solid #736eed;
  min-width: 9.9rem;
  transition: 0.6s;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1;
  cursor: pointer;
}
.redirect-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #736eed;
  transition: 0.5s;
  z-index: -1;
}

.redirect-button:hover::before {
  width: 100%;
}

.redirect-button:hover {
  color: white;
  border: 2px solid transparent;
}

.redirect-button:active {
  color: #736eed;
}

.redirect-button:focus {
  background-color: #736eed;
  color: #f6f4f4;
  cursor: default;
}

.redirect-button__elements {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.redirect-button__elements-button {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}

.redirect-button__elements-image {
  width: 1.3rem;
  height: 1.3rem;
}
