.redirect-button {
  max-width: 12rem;
  font-size: 1.5rem;
  border-radius: 3.1rem;
  padding: 1.2rem 2.1rem;
  color: #736eed;
  background-color: transparent;
  border: 2px solid #736eed;
  min-width: 9.9rem;
  transition: 0.6s;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1;
  cursor: pointer;
}
.redirect-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #736eed;
  transition: 0.5s;
  z-index: -1;
}

.redirect-button:hover::before {
  width: 100%;
}

.redirect-button:hover {
  color: white;
  border: 2px solid transparent;
}

.redirect-button:active {
  color: #736eed;
}

.redirect-button:focus {
  background-color: #736eed;
  color: #f6f4f4;
  cursor: default;
  outline: none;
}

.redirect-button__elements {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.redirect-button__elements-button {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}

.redirect-button__elements-image {
  width: 1.3rem;
  height: 1.3rem;
}

@media (max-width: 480px) {
  .redirect-button {
    min-width: auto;
    max-width: 8.5rem;
    padding: 0.8rem 1.2rem;
    font-size: 1rem;
  }

  .redirect-button__elements {
    gap: 0.4rem;
  }

  .redirect-button__elements-image {
    width: 1rem;
    height: 1rem;
  }
}

@media (min-width: 481px) and (max-width: 1000px) {
  .redirect-button {
    max-width: 10rem;
    font-size: 1.2rem;
    padding: 0.7rem 1dvh;
    display: flex;
    justify-content: center;
  }

  .redirect-button__elements {
    gap: 0.4rem;
  }
}
